<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.4.4" targetFramework="net40" />
  <package id="jQuery.UI.Core" version="1.8.9" targetFramework="net40" />
  <package id="jQuery.UI.Core.Mouse" version="1.8.9" targetFramework="net40" />
  <package id="jQuery.UI.Core.Widget" version="1.8.9" targetFramework="net40" />
  <package id="jQuery.UI.Interactions.Sortable" version="1.8.9" targetFramework="net40" />
</packages>